.grid {
  margin: 0 auto;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.letter {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 0.2rem 0.2rem darkslategrey;
  text-align: center;
  background-color: olivedrab;
  color: white;
  font-size: 2rem;
}

.submit-answer {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

form > input {
  height: 2rem;
  margin-top: 1rem;
}

input[type="submit"] {
  background-color: olivedrab;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0 0 0.1rem 0.1rem darkslategrey;
}
